html
    head
        title Bongio's evening thinking
        style
            include ../../css/bongio.css
    body
        div.BlogPage
            div.BlogPage--Container
                div.BlogPage--Content
                    h1 Was is dies?

                    p.
                        I'm Paolo. At the time of writing I'm turning 40 in a few hours time. It's November 24th 2015, and I'm in
                        Sagrado, Gorizia, at my parents' house.

                    p.
                        My wife asked me a few minutes ago what I'd like to do in the last evening of my thirties.
                        I answered that funnily enough I just gave some thought to it while holding my 2 years old son on my lap
                        listening to Little Baby Bum.

                    p.
                        She looked to me, hopeful I had something awesome in mind for our evening.
                        I told her I was planning to start my new project, my personal website. Its contents? A place where I would
                        put my thinking in the form of a graph, where I would distinguish facts, beliefs, emotions, preferences to
                        work through topics that confuse me, and try to de-structure debates about contentious issues into logical
                        components. Why? To examine how much of the things you believe in are about personal values and preferences,
                        versus more "objective" understanding.

                    p.
                        Once you get that clarity, you may be able to model the topic you are investigating as a set of logical
                        statements that are based on assumptions about facts, personal preferences and your general outlook  in life,
                        that justify your judgement on the topic.
                        As a consequence you may be able to perhaps sometimes realize that perhaps your belief may be in need of
                        further thinking or perhaps change, but also perhaps realize that if someone starts from a different set of
                        assumptions and core values, they may using your own logical structure arrive at the other conclusion.

                    p.
                        I think that is important to me because too often I feel emotional by other humans who think differently on
                        topics I'm quite sensitive to.

                    p.
                        I know this has been done before in various shapes and forms. But I think I'm gonna have fun to try and
                        reason about my thinking, using cool technologies and exploring ways of representing knowledge that have been
                        at the back of my mind in the last twenty-odd years.

                    p.
                        And you never know, I may be lucky enough to actually unearth some useful bits of knowledge that might
                        be useful to others.

                    p.
                        My wife was not very impressed with my suggestion for the evening.

                    p.
                        So this is the plan. Tonight it starts. Maybe in a few months it may be more than this page.


